$startcolor: white;

#guess {
    font-family: Tahoma;
    text-shadow: 5px;
    font-display: fallback;
    font-weight: bold;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    font-size: 50px;

    @media (max-width: 1000px) {
        font-size: 20px;
    }

    @media (min-width: 1200px) {
        font-size: 55px;
    }
}

#icons {
    border: ridge;
    border-width: 10px;
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .select:hover {
        height: 150px;
    }
}

table {
    margin-top: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    .heading {
        font-weight: bold;
        font-size: 15px;
    }
    th {
        color: red;
        font-size: 20px;
    }
    th, td { 
        padding: 10px;
    }
}

.tableicons {
    height: 50px;
}

.select, #navicon {
    height: 100px;
}

#navicon {
    @media (max-width: 955px) {
            height: 50px;
    }
}

.container {
    max-width: 60%;
    margin-top: 35px;
    margin-left: 60px;

    .col {
        position: relative;
        padding-top: 8%;
        border-style: solid;
        border-color: lightgrey;
        border-width: 0.5px;
        animation-duration: 5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
}

nav {
    position: fixed;
    height: 100%;
    float: right;
    border: ridge;
    border-width: 10px;
    padding: 10px;
    padding-right: 10px;
    margin-top: -50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;


    li {
        list-style-type: none;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

#redpix {
    animation-name: tored;
    animation-delay: 5s;
}

#bluepix {
    animation-name: toblue;
    animation-delay: 10s;
}

#blackpix {
    animation-name: toblack;
    animation-delay: 15s;
}

#brownpix {
    animation-name: tobrown;
    animation-delay: 20s;
}

#peachpix {
    animation-name: topeach;
    animation-delay: 25s;
}

@keyframes tored {
    from {background-color: $startcolor;}
    to {background-color: red;}
}

@keyframes toblue {
    from {background-color: $startcolor;}
    to {background-color: blue;}
}

@keyframes toblack {
    from {background-color: $startcolor;}
    to {background-color: black;}
}

@keyframes tobrown {
    from {background-color: $startcolor;}
    to {background-color: saddlebrown;}
}

@keyframes topeach {
    from {background-color: $startcolor;}
    to {background-color: peachpuff;}
}

form {
    float: right;
    margin-top: -350px;
    margin-right: 150px;
    font-size: 30px;
}